<% provide(:title, "Work Events") %>

<div class="container">
  <%= month_calendar events: @work_events do |date, work_events| %>
    <%= date.day %>

    <% work_events.each do |work_event| %>
      <div>
        <%= work_event.title %>
      </div>
    <% end %>
  <% end %>
</div>

<% if current_user.admin? %>
  <%= render 'new' %>
<% end %>