<div class="max-w-md my-10 m-auto p-12 text-center bg-white border border-gray-400 shadow">
  <%= image_tag "time_management.svg", alt: "New Availability", width: 300, class: "mb-4" %>
  <h1 class="text-indigo-700 text-2xl mb-5">It looks like you haven't set your availabilities</h1>
  <%= link_to "Set Availabilities", new_availability_path, class: "btn btn-secondary py-3 px-5" %>
</div>